rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow read: if true;
      allow create: if request.resource.data.content is string && request.resource.data.content.size() > 0 && request.resource.data.content.size() <= 5000;
      allow update: if true;
      allow delete: if true;

      match /comments/{commentId} {
        allow read: if true;
        allow create: if request.resource.data.content is string && request.resource.data.content.size() > 0 && request.resource.data.content.size() <= 2000;
        allow update: if true;
        allow delete: if false;
      }
    }
    match /messages/{messageId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;
    }
    match /meta/{metaId} {
      allow read, write: if true;
    }
  }
}
