rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow read: if true;
      
      allow create: if request.resource.data.content is string 
        && request.resource.data.content.size() > 0 
        && request.resource.data.content.size() <= 5000;
        
      allow update: if (
        // 1. Author edits post
        (
          request.resource.data.diff(resource.data).affectedKeys().hasOnly(['content', 'tag'])
          && request.resource.data.content is string 
          && request.resource.data.content.size() > 0 
          && request.resource.data.content.size() <= 5000
        )
        ||
        // 2. User toggles like
        (
          request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likedBy', 'likesCount'])
          && (
            request.resource.data.likesCount == resource.data.get('likesCount', 0) + 1 ||
            request.resource.data.likesCount == resource.data.get('likesCount', 0) - 1
          )
        )
        ||
        // 3. Update comments count
        (
          request.resource.data.diff(resource.data).affectedKeys().hasOnly(['commentsCount'])
          && (
            request.resource.data.commentsCount == resource.data.get('commentsCount', 0) + 1 ||
            request.resource.data.commentsCount == resource.data.get('commentsCount', 0) - 1
          )
        )
        ||
        // 4. Update reactions
        (
          request.resource.data.diff(resource.data).affectedKeys().hasOnly(['reactions'])
        )
      );

      allow delete: if false;

      match /comments/{commentId} {
        allow read: if true;
        allow create: if request.resource.data.content is string 
          && request.resource.data.content.size() > 0 
          && request.resource.data.content.size() <= 2000;
        
        allow update: if (
          // Author edit
          (
            request.resource.data.diff(resource.data).affectedKeys().hasOnly(['content'])
            && request.resource.data.content is string 
            && request.resource.data.content.size() > 0 
            && request.resource.data.content.size() <= 2000
          )
          ||
          // Comment Like
          (
            request.resource.data.diff(resource.data).affectedKeys().hasOnly(['likedBy', 'likesCount'])
            && (
              request.resource.data.likesCount == resource.data.get('likesCount', 0) + 1 ||
              request.resource.data.likesCount == resource.data.get('likesCount', 0) - 1
            )
          )
        );
        allow delete: if false;
      }
    }
    
    match /messages/{messageId} {
      allow read: if true;
      allow create: if true;
      allow update: if false;
      allow delete: if false;
    }
    
    match /meta/{metaId} {
      allow read: if true;
      allow create: if true;
      allow update: if request.resource.data.lastSerialNumber == resource.data.get('lastSerialNumber', 0) + 1;
    }
  }
}
